@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
}
.container {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}
.btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.button-choice {
  display: flex;
  flex-direction: column;
}
.btn-secondary {
  background-color: #82b3d3;
}
.btn-primary {
  background-color: #756157;
}
.btn-chosen {
  background-color: #7db54f;
}
.btn-reset {
  background-color: transparent;
}
.btn-big {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}
.btn-light {
  margin: left;
}
.page-header {
  background-color: #ffffff;
}
.navigation {
  display: flex;
  margin: 0 auto;
  padding: 0 70px;
}
.navigation-logo {
 width: 140px;
 margin-right: 44px;
}
.navigation-list {
  width: 630px;
  margin: 0;
  padding: 0;
}
.user-nav {
  max-width: 360px;
  margin-left: auto;
}
.main-container {
  flex-grow: 1;
}
.page-container {
  display: flex;
  flex-direction: column;

  width: 1200px;
  margin: 0 auto;
}
.logo {
  display: block;
  margin: 0 auto;

}

.like-link span {
  font-family: inherit;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
  text-decoration: none;
  padding: 3px;
  width: 10px;
  height: 10px;
  display: block;
}
.main-nav-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: inherit;
}
.intro {
  background-image: url("../images/interior.jpg");
  background-size: 1200px auto;
  background-color: #756157;
  background-repeat: no-repeat;
  text-align: center;
}
.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.advantage-card-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}
.advantages-desc {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.advantage-card-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 1200px;
  background-color: #ffffff;
  text-align: center;
  }
.big-card {
  display: flex;
  color: #ffffff;
  width: 100%;
  }

.advantages-wrapper {
  width: 1200px;
  min-height: 282px;
}
.advantage-card {
  width: 400px;
  min-height: 384px;
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.advantage-card-blue {
  background-color: #82b3d3;
}
.advantage-card-light-blue {
  background: rgba(131, 179, 211, 0.2);
}
.advantage-card-white {
  background-color: #ffffff;
}
.advantage-card-img img {
  vertical-align: middle;
  width: 800px;
  min-height: 384px;
}

.advantage-card-text {
  margin: 0 85px;
}
.advantages-row {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  }

.advantage-line {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.booking {
  width: 1200px;
  min-height: 41px;
  text-align: center;
}
.booking-box {
  padding: 0;
  margin: 96px 304px;
  width: 592px;
  min-height: 214px;
  text-align: center;

}
.booking b {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.info {
  font-size: 22px;
  line-height: 26px;
}
.page-footer {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
}
.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  min-height: 415px;
  margin: 0 auto;
}

.subscription {
  color: #ffffff;
  background-image: url("../images/background-subscription.jpg");
  background-color: #756157;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 258px 104px 258px;
  width: 100%;
}
.subscription-inner {
  background-image: none;
  color: #000000;
  background-color: #ffffff;
  }

.subscription-title-desc {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-field {
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  padding: 12px 20px;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 142px;
  margin-right: 237px;
}
.phone {
  font-size: 40px;
  font-weight: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: inherit;
}
.inner-header {
  background-color: #756157;
  color: #ffffff;
  background-image: url("../images/background-hotels.jpg");
}
.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 35px 70px;
}
.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.catalog-price {
  border: none;
}
.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0 70px;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: inherit;
}
.search-form {
  display: flex;
  padding: 0 70px;
}
.search {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.services-filter {
  display: flex;
  padding: 0 70px;
  justify-content: space-between;
}
.catalog-filter-list {
  list-style-type: none;
}
.catalog-filter-group {
  border: none;
}
.hotels-list {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  list-style-type: none;
  margin: 0;
  padding: 0 90px;
}
.hotels-title h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
.rating p {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  width: 140px;
  height: 37px;
  text-align: center;
}
.pagination {
  margin: 0;
  padding: 0 70px;
}
.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
}
.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
